@import "@styles/variables.scss";


.container {
    margin-inline: auto;
    padding-bottom: 200px;
    width: 100%;
}

.recipeBox {
    width: 100%;
    border-radius: $boder-radius-m;
    padding: 0px;
    margin-inline: auto;
    margin-top: 10px;
}

.titleRecipe {
    color: var(--green-dark);
}

.foodImg {
    width: 90%;
    height: 550px;
    object-fit: cover;
    border-radius: $boder-radius;
    position: absolute;
}

.checkbox {
    margin-right: 10px;

    &+label {
        font-size: 20px;
    }

    // Hover
    &+label:hover {
        color: var(--green-dark-rgb);
    }

    // Checked
    &:checked {
        &+label {
            &:before {
                background: red;
                box-shadow: none;
            }

            &:after {
                border-color: white;
            }
        }
    }
}

.starIcon {
    margin: 5px;

    path {

        &:hover {
            fill: rebeccapurple;
        }
    }
}

.gradientBox {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 60%, var(--green-light) 90%);
    width: 100%;
    height: 550px;
    border-radius: $boder-radius;
    margin-inline: auto;
    margin-top: 10px;
    z-index: 5px;
    position: relative;
    overflow: hidden;
}