@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@styles/variables.scss';
@import '@styles/transitions.scss';

:root {
    --green-light-rgb: rgb(214, 229, 227);
    --green-light: #d6e5e3;
    --green-dark-rgb: rgb(0, 115, 112);
    --green-dark: #007370;

    --green-semi: #00A39E;

    --black: #000000;
    --white: #fffffa;

    --red: #d54444;

    --gray-5: #c5c5c5;

    //old dont use
    --gray-light: #f2f5f4;
    --gray-2: #d6d6d6;
    --gray-3: #707070;
    --gray-dark: rgb(58, 58, 58);
}

body {
    position: relative;
}

.h1 {
    font-family: var(--font-bebas);
    font-size: 100px;
    color: var(--black);
}

.h1-green {
    @extend .h1;
    color: var(--green-dark);
}

h1 {
    @extend .h1;
}

.h2 {
    font-family: var(--font-bebas);
    font-size: 80px;
    color: var(--black);
}

.h2-zeyada-green {
    @extend .h2;
    font-family: var(--font-zeyada);
    color: var(--green-dark);
}

.h2-white {
    @extend .h2;
    color: var(--white);
}

h2 {
    @extend .h2;
}

.h3 {
    font-family: var(--font-bebas);
    font-size: 50px;
    color: var(--black);
}

.h3-green-dark {
    @extend .h3;
    color: var(--green-dark);
}

h3 {
    @extend .h3;
}

.h4 {
    font-family: var(--font-bebas);
    font-size: 40px;
    color: var(--black);
}

.h4-green-dark {
    @extend .h4;
    color: var(--green-dark);
}

h4 {
    @extend .h4;
}

.h5 {
    font-family: var(--font-bebas);
    font-size: 28px;
    color: var(--black);
}

.h5-green-dark {
    @extend .h5;
    color: var(--green-dark);
}

h5 {
    @extend .h5;
}

.p {
    font-family: var(--font-inter);
    font-size: 20px;
}

.p-white {
    @extend .p;
    font-size: 16px;
    color: var(--white);
}

p {
    @extend .p;
    color: var(--black);
}

.text-input-wrapper {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.25rem;
    }

    input {
        border: 3px solid var(--green-dark);
        border-radius: 15px;
        padding: 0rem 0.75rem;
        height: 45px;
        background-color: var(--white);

        &:focus {
            outline: unset;
        }
    }
    & ~ .errorMessage {
        color: var(--red);
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    &.error {
        input {
            border-color: var(--red);
        }
    }
}

.btn {
    display: block;
    border-radius: 60px;
    padding: 0.5rem 1.5rem;
    width: fit-content;

    &:hover {
        background-color: var(--green-semi)
    }
}

.btn-primary {
    @extend .btn;
    color: var(--white);
    background-color: var(--green-dark);

    
}

.btn-secondary {
    @extend .btn;
    color: var(--white);
    border: 1px solid var(--white);
    background-color: inherit;
}

.swiper {
    padding-bottom: 35px !important;

    .swiper-button-next {
        color: var(--green-dark) !important;

        &::after {
            font-size: 50px !important;
            font-weight: 900;
        }
    }

    .swiper-button-prev {
        color: var(--green-dark) !important;

        &::after {
            font-size: 50px !important;
            font-weight: 900;
        }
    }

    .swiper-button-disabled {
        color: var(--green-light) !important;

        &::after {
            font-size: 50px !important;
            font-weight: 900;
        }
    }

    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: var(--swiper-scrollbar-bottom, 0px) !important;
        background-color: var(--green-light) !important;
        width: 50% !important;
        left: 25%;
        height: 7px;
    }

    .swiper-scrollbar-drag {
        background-color: var(--green-dark) !important;
    }
}
