.line{
    position: relative;  
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 55px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: none;   
}

/* Animation */
.animTypewriter{
    display: block;
    animation: typewriter 6s steps(30) 1s 1 normal both,
               blinkTextCursor 500ms steps(30) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 20em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: var(--green-light);}
    to{border-right-color: transparent;}
  }