.step {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1rem;
    z-index: 2;
    transition: transform 0.1s ease-in-out;
    position: relative;

    &:hover {
        transform: scale(2);
        cursor: pointer;
    }
}

.stepDisabled {
    @extend .step;

    &:hover {
        transform: unset;
        background-color: var(--gray-5) !important;
        cursor: not-allowed;
    }
}

.stepDone {
    @extend .step;
    background-color: var(--green-dark);
}

.stepNotDone {
    @extend .step;
    background-color: var(--gray-5);

    &:hover {
        background-color: var(--green-dark);
    }
}

.label {
    position: absolute;
    top: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    white-space: nowrap;
    color: var(--gray-5);
}

.activeLabel {
    @extend .label;
    color: var(--green-dark);
}
