.registerContainer {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    &.active {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
