.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    padding: 7px;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;

    &.rightPanel {
        transform: translateX(-100%);
        .overlayLeft {
            transform: translateX(-20%);
        }
        .overlay {
            transform: translateX(50%);
        }

        .overlayRight {
            transform: translateX(0%);
        }
    }

    .overlay {
        background: var(--green-dark);
        background: linear-gradient(to right, var(--green-dark), #00908b);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
        h2, p {
            color: #ffffff;
        }

        .overlayLeft,
        .overlayRight {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 50%;
            transition: transform 0.6s ease-in-out;
        }
        .overlayLeft {
            transform: translateX(0%);
        }

        .overlayRight {
            right: 0;
            transform: translateX(0%);
        }
    }
}
