.loginContainer {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
    transform: translateX(100%);
    &.active {
        opacity: 1;
        transform: translateX(0%);
    }
}