@import "@styles/variables.scss";

.headerContainer {
    width: 100%;
    padding: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
    position: fixed;
    z-index: 2;

    p {
        font-size: 15px;
    }

    .scroll {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }


    .container {
        transition: box-shadow 0.3s ease-in-out;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        background-color: var(--green-light);
        height: 75px;
        border-radius: $border-radius-full;

        .weekplan,
        .shoppingList,
        .cookbook {

            &:hover {
                color: var(--green-semi);
                p {
                    color: var(--green-semi);
                }
            }
        }
    }
    .userIcon {

            &:hover {
                color: var(--green-semi);
            }
            &:hover .dropdown {
                display: block;
                color: var(--black)
            }
        }

    .dropdown {
        display: none;
        
        &:hover {
            display: block;
        }

        .settingsDropdown {

            &:hover {
                background-color: var(--green-semi);
                border-radius: 1rem 1rem 0 0;
                color: var(--white);
                p {
                    color: var(--white);
                }
            }

        }

        .userDropdown {

            &:hover {
                background-color: var(--green-semi);
                border-radius: 0 0 1rem 1rem;
                color: var(--white);
                p {
                    color: var(--white);
                }
            }

        }
    }

    .active {
        color: var(--green-dark);
        p {
            color: var(--green-dark);
        }

    }

    .settingsActive {
        background-color: var(--green-dark);
        border-radius: 1rem 1rem 0 0;
        color: var(--white);
        p {
            color: var(--white);
        }
    }

    .userActive {
        background-color: var(--green-dark);
        border-radius: 0 0 1rem 1rem;
        color: var(--white);
        p {
            color: var(--white);
        }
    }

    .lineHide {
        // display: none;
        width: 0%;
        transition: width 0.3s ease-in-out;
    }

    .lineShow {
        // display: block;
        width: 100%;
    }

}
    





    // .navIcon {
    //     width: 60px;
    //     height: 45px;
    //     position: relative;
    //     z-index: 9999;
    //     margin: 50px auto;
    //     -webkit-transform: rotate(0deg);
    //     -moz-transform: rotate(0deg);
    //     -o-transform: rotate(0deg);
    //     transform: rotate(0deg);
    //     -webkit-transition: 0.5s ease-in-out;
    //     -moz-transition: 0.5s ease-in-out;
    //     -o-transition: 0.5s ease-in-out;
    //     transition: 0.5s ease-in-out;
    //     cursor: pointer;
    
    //     span {
    //         display: block;
    //         position: absolute;
    //         height: 9px;
    //         width: 100%;
    //         background: var(--gray-light);
    //         border-radius: 9px;
    //         opacity: 1;
    //         left: 0;
    //         -webkit-transform: rotate(0deg);
    //         -moz-transform: rotate(0deg);
    //         -o-transform: rotate(0deg);
    //         transform: rotate(0deg);
    //         -webkit-transition: 0.25s ease-in-out;
    //         -moz-transition: 0.25s ease-in-out;
    //         -o-transition: 0.25s ease-in-out;
    //         transition: 0.25s ease-in-out;
    //     }
    // }
    
    // .navIcon {
    //     span {
    //         &:nth-child(1) {
    //             top: 0px;
    //             -webkit-transform-origin: left center;
    //             -moz-transform-origin: left center;
    //             -o-transform-origin: left center;
    //             transform-origin: left center;
    //         }
    
    //         &:nth-child(2) {
    //             top: 18px;
    //         }
    
    //         &:nth-child(3) {
    //             top: 36px;
    //             -webkit-transform-origin: left center;
    //             -moz-transform-origin: left center;
    //             -o-transform-origin: left center;
    //             transform-origin: left center;
    //         }
    //     }
    // }
    
    // .open {
    //     span {
    //         &:nth-child(1) {
    //             transform: rotate(45deg);
    //             top: -3px;
    //             left: 8px;
    //         }
    
    //         &:nth-child(2) {
    //             width: 0%;
    //             opacity: 0;
    //         }
    
    //         &:nth-child(3) {
    //             transform: rotate(-45deg);
    //             top: 39px;
    //             left: 8px;
    //         }
    //     }
    // }

