.dislikeWrapper {
    span {
        display: inline-block;
        height: 50px;
        border: solid;
        border-radius: 50px;
        border: 2px solid var(--green-dark);
        background-color: var(--green-light);
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        width: max-content;

        label {
            align-items: center;
        }
    }
}
