@import '@styles/variables.scss';


.wrapperContainer {
    &:hover .foodImg {
        opacity: 0.1;
    }

    &:hover .discriptionHover {
        opacity: 1;
        cursor: pointer;
    }

    &:hover .heartIcon {
        opacity: 1;
        cursor: pointer;
        top: 125px;
    }

    &:hover .discriptionFood {
        top: 40px;
    }

    &:hover .twoLinesName {
        top: 70px;
    }

    &:hover .threeLinesName {
        top: 100px;
    }

    &:hover .fourLinesName {
        top: 130px;
    }

    &:hover .weekplanBoxToday {
        background-color: var(--green-dark);
    }
}


.weekplanBox {
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-light) 90%);
    width: 250px;
    height: 350px;
    border-radius: $boder-radius;
    margin-inline: auto;
    margin-top: 10px;
    z-index: 5px;
    position: relative;
    overflow: hidden;
}

.weekplanBoxToday {
    transition: background-color 0.8s;
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, var(--green-dark) 90%);
}

.foodBox {
    width: 250px;
    height: 350px;
    border-radius: $boder-radius;
    position: absolute;
}

.foodImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $boder-radius;
    z-index: -5px;
    transition: opacity 0.8s ease-in-out;
}

.discriptionFood {
    padding: 10px;
    transition: top 0.8s ease-in-out;
    top: calc(100% - 30px);
    position: absolute;
    width: 100%;
}

.discriptionHover {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
    position: absolute;
    margin-top: 25px;
    width: 240px;
}

.heartIcon {
    opacity: 0;
    position: absolute;
    transition: all 0.8s ease-in-out;
    top: calc(100% - 10px);
    width: 100%;
    fill: none;
    z-index: 5;
    
}
