.intoleranceWrapper .containerField {
    width: 100%;
    height: 70px;
    position: relative;
    border-radius: 50px;

    &:hover {
        label {
            background-color: var(--green-light);
            color: var(--white);
            border-color: var(--green-light);
        }
    }

    label,
    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: var(--white);
    }

    input[type='checkbox'] {
        opacity: 0.01;
        z-index: 2;
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }

    label {
        display: flex;
        align-items: center;
        border: 2px solid var(--gray-dark);
        border-radius: 50px;
        z-index: 1;
        padding-left: 70px;
    }

    input[type='checkbox']:checked + label,
    .Checked + label {
        background-color: var(--green-dark);
        border: none;
        p {
            color: var(--white);
        }
    }
}
